In [1]:
import pandas as pd

df = pd.read_csv("CRMLSSold202502_filled.csv")
df.head()

,BuyerAgentAOR,ListAgentAOR,Flooring,ViewYN,WaterfrontYN,BasementYN,PoolPrivateYN,OriginalListPrice,ListingKey,ListAgentEmail,...,MainLevelBedrooms,NewConstructionYN,GarageSpaces,HighSchoolDistrict,PostalCode,AssociationFee,LotSizeSquareFeet,MiddleOrJuniorSchoolDistrict,latfilled,lonfilled
0,RanchoSoutheast,RanchoSoutheast,NaN,True,NaN,NaN,NaN,60000.0,526199946,cmark1018@yahoo.com,...,NaN,False,NaN,NaN,92307,0.0,28000.0,NaN,False,False
1,InlandValleys,InlandValleys,NaN,False,NaN,NaN,NaN,550000.0,525585060,mozcorona@aol.com,...,NaN,False,NaN,NaN,92553,0.0,39640.0,NaN,False,False
2,SanDiego,SanDiego,NaN,False,NaN,NaN,False,880000.0,497696903,lenskab@gmail.com,...,NaN,False,2.0,NaN,91942,NaN,NaN,NaN,False,False
3,SanDiego,SanDiego,NaN,False,NaN,NaN,False,875000.0,497696407,lenskab@gmail.com,...,NaN,False,2.0,NaN,91942,NaN,NaN,NaN,False,False
4,SanDiego,SanDiego,NaN,False,NaN,NaN,False,849000.0,486616176,lenskab@gmail.com,...,NaN,False,2.0,NaN,91942,NaN,NaN,NaN,False,False

In [2]:
cols_to_keep = [
    "MLSAreaMajor",
    "Stories",
    "ViewYN",
    "NewConstructionYN",
    "Levels",
    "PoolPrivateYN",
    "BuyerOfficeAOR",
    "GarageSpaces",
    "LotSizeAcres",
    "LotSizeSquareFeet",
    "LotSizeArea",
    "BuyerOfficeName",
    "BuyerAgentFirstName",
    "BuyerAgentMlsId",
    "StreetNumberNumeric",
    "UnparsedAddress",
    "City",
    "YearBuilt",
    "FireplaceYN",
    "BuyerAgentLastName",
    "LivingArea",
    "Latitude",
    "Longitude",
    "BuyerAgentAOR",
    "BathroomsTotalInteger",
    "ClosePrice",
    "CloseDate",
    "PropertyType",
    "MlsStatus",
    "ParkingTotal",
    "PropertySubType",
    "CountyOrParish",
    "BedroomsTotal",
    "StateOrProvince",
    "PurchaseContractDate",
    "ContractStatusChangeDate",
    "PostalCode"
]

df = df[cols_to_keep]
df.head()

,MLSAreaMajor,Stories,ViewYN,NewConstructionYN,Levels,PoolPrivateYN,BuyerOfficeAOR,GarageSpaces,LotSizeAcres,LotSizeSquareFeet,...,PropertyType,MlsStatus,ParkingTotal,PropertySubType,CountyOrParish,BedroomsTotal,StateOrProvince,PurchaseContractDate,ContractStatusChangeDate,PostalCode
0,APPV - Apple Valley,NaN,True,False,NaN,NaN,TriCounties,NaN,0.6428,28000.0,...,Land,Closed,NaN,NaN,San Bernardino,NaN,CA,2022-01-10,2025-02-21,92307
1,259 - Moreno Valley,NaN,False,False,NaN,NaN,InlandValleys,NaN,0.9100,39640.0,...,Land,Closed,NaN,NaN,Riverside,NaN,CA,2024-11-08,2025-02-14,92553
2,91942 - La Mesa,1.0,False,False,One,False,PacificSouthwest,2.0,NaN,NaN,...,Residential,Closed,6.0,SingleFamilyResidence,San Diego,4.0,CA,2021-01-25,2025-02-11,91942
3,91942 - La Mesa,1.0,False,False,One,False,SanDiego,2.0,NaN,NaN,...,Residential,Closed,4.0,SingleFamilyResidence,San Diego,5.0,CA,2021-01-14,2025-02-14,91942
4,91942 - La Mesa,1.0,False,False,One,False,SanDiego,2.0,NaN,NaN,...,Residential,Closed,4.0,SingleFamilyResidence,San Diego,4.0,CA,2021-01-25,2025-02-18,91942

In [3]:
df.isna().sum().sort_values(ascending=False)

Stories                     4027
Levels                      2760
GarageSpaces                2579
PoolPrivateYN               2523
NewConstructionYN           2152
MLSAreaMajor                1876
LotSizeAcres                1794
ViewYN                      1762
LotSizeSquareFeet           1754
LotSizeArea                 1739
FireplaceYN                 1652
PropertySubType             1446
LivingArea                  1333
BedroomsTotal               1270
BathroomsTotalInteger        882
YearBuilt                    826
ParkingTotal                 608
BuyerOfficeAOR               580
PurchaseContractDate         420
BuyerOfficeName              263
BuyerAgentFirstName           81
BuyerAgentMlsId               71
StreetNumberNumeric           51
UnparsedAddress               40
City                          18
BuyerAgentLastName            11
BuyerAgentAOR                  7
Latitude                       6
Longitude                      5
PostalCode                     3
PropertyType                   0
CountyOrParish                 0
CloseDate                      0
StateOrProvince                0
ClosePrice                     0
ContractStatusChangeDate       0
MlsStatus                      0
dtype: int64

In [4]:
numeric_cols = [
    "Stories", "GarageSpaces", "LotSizeAcres", "LotSizeSquareFeet",
    "LotSizeArea", "LivingArea", "BedroomsTotal", "BathroomsTotalInteger",
    "YearBuilt", "StreetNumberNumeric", "Latitude", "Longitude", "ParkingTotal"
]

for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

In [5]:
bool_cols = ["NewConstructionYN", "PoolPrivateYN", "ViewYN", "FireplaceYN"]

for col in bool_cols:
    df[col] = df[col].fillna("No")

In [6]:
categorical_cols = [
    "MLSAreaMajor", "Levels", "BuyerOfficeAOR", "BuyerOfficeName",
    "BuyerAgentFirstName", "BuyerAgentMlsId", "UnparsedAddress", "City",
    "BuyerAgentLastName", "BuyerAgentAOR", "PropertySubType",
    "CountyOrParish", "StateOrProvince", "PostalCode"
]

for col in categorical_cols:
    df[col] = df[col].fillna("Unknown")

In [7]:
df.isna().sum().sort_values(ascending=False).head(10)

PurchaseContractDate     420
MLSAreaMajor               0
PropertyType               0
Latitude                   0
Longitude                  0
BuyerAgentAOR              0
BathroomsTotalInteger      0
ClosePrice                 0
CloseDate                  0
MlsStatus                  0
dtype: int64

In [8]:
date_cols = ["PurchaseContractDate", "ContractStatusChangeDate", "CloseDate"]

for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")

In [9]:
yn_cols = ["NewConstructionYN", "PoolPrivateYN", "ViewYN", "FireplaceYN"]

for col in yn_cols:
    df[col] = df[col].map({"Yes": True, "No": False})

In [10]:
for col in numeric_cols:  # reuse numeric_cols list from earlier
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [11]:
for col in categorical_cols:  # reuse categorical_cols list
    df[col] = df[col].astype("category")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18702 entries, 0 to 18701
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MLSAreaMajor              18702 non-null  category
 1   Stories                   18702 non-null  float64
 2   ViewYN                    1762 non-null   object
 3   NewConstructionYN         2152 non-null   object
 4   Levels                    18702 non-null  category
 5   PoolPrivateYN             2523 non-null   object
 6   BuyerOfficeAOR            18702 non-null  category
 7   GarageSpaces              18702 non-null  float64
 8   LotSizeAcres              18702 non-null  float64
 9   LotSizeSquareFeet         18702 non-null  float64
 10  LotSizeArea               18702 non-null  float64
 11  BuyerOfficeName           18702 non-null  category
 12  BuyerAgentFirstName       18702 non-null  category
 13  BuyerAgentMlsId           18702 non-null  category
 14  StreetNumberNumeric       18702 non-null  float64
 15  UnparsedAddress           18702 non-null  category
 16  City                      18702 non-null  category
 17  YearBuilt                 18702 non-null  float64
 18  FireplaceYN               1652 non-null   object
 19  BuyerAgentLastName        18702 non-null  category
 20  LivingArea                18702 non-null  float64
 21  Latitude                  18702 non-null  float64
 22  Longitude                 18702 non-null  float64
 23  BuyerAgentAOR             18702 non-null  category
 24  BathroomsTotalInteger     18702 non-null  float64
 25  ClosePrice                18702 non-null  float64
 26  CloseDate                 18702 non-null  datetime64[ns]
 27  PropertyType              18702 non-null  object
 28  MlsStatus                 18702 non-null  object
 29  ParkingTotal              18702 non-null  float64
 30  PropertySubType           18702 non-null  category
 31  CountyOrParish            18702 non-null  category
 32  BedroomsTotal             18702 non-null  float64
 33  StateOrProvince           18702 non-null  category
 34  PurchaseContractDate      18282 non-null  datetime64[ns]
 35  ContractStatusChangeDate  18702 non-null  datetime64[ns]
 36  PostalCode                18702 non-null  category
dtypes: category(14), datetime64[ns](3), float64(14), object(6)
memory usage: 5.7+ MB

In [13]:
yn_cols = ["ViewYN", "NewConstructionYN", "PoolPrivateYN", "FireplaceYN"]

for col in yn_cols:
    df[col] = df[col].fillna("No").map({"Yes": True, "No": False})

In [14]:
df["PropertyType"] = df["PropertyType"].astype("category")
df["MlsStatus"] = df["MlsStatus"].astype("category")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18702 entries, 0 to 18701
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MLSAreaMajor              18702 non-null  category
 1   Stories                   18702 non-null  float64
 2   ViewYN                    16940 non-null  object
 3   NewConstructionYN         16550 non-null  object
 4   Levels                    18702 non-null  category
 5   PoolPrivateYN             16179 non-null  object
 6   BuyerOfficeAOR            18702 non-null  category
 7   GarageSpaces              18702 non-null  float64
 8   LotSizeAcres              18702 non-null  float64
 9   LotSizeSquareFeet         18702 non-null  float64
 10  LotSizeArea               18702 non-null  float64
 11  BuyerOfficeName           18702 non-null  category
 12  BuyerAgentFirstName       18702 non-null  category
 13  BuyerAgentMlsId           18702 non-null  category
 14  StreetNumberNumeric       18702 non-null  float64
 15  UnparsedAddress           18702 non-null  category
 16  City                      18702 non-null  category
 17  YearBuilt                 18702 non-null  float64
 18  FireplaceYN               17050 non-null  object
 19  BuyerAgentLastName        18702 non-null  category
 20  LivingArea                18702 non-null  float64
 21  Latitude                  18702 non-null  float64
 22  Longitude                 18702 non-null  float64
 23  BuyerAgentAOR             18702 non-null  category
 24  BathroomsTotalInteger     18702 non-null  float64
 25  ClosePrice                18702 non-null  float64
 26  CloseDate                 18702 non-null  datetime64[ns]
 27  PropertyType              18702 non-null  category
 28  MlsStatus                 18702 non-null  category
 29  ParkingTotal              18702 non-null  float64
 30  PropertySubType           18702 non-null  category
 31  CountyOrParish            18702 non-null  category
 32  BedroomsTotal             18702 non-null  float64
 33  StateOrProvince           18702 non-null  category
 34  PurchaseContractDate      18282 non-null  datetime64[ns]
 35  ContractStatusChangeDate  18702 non-null  datetime64[ns]
 36  PostalCode                18702 non-null  category
dtypes: category(16), datetime64[ns](3), float64(14), object(4)
memory usage: 5.4+ MB

In [17]:
yn_cols = ["ViewYN", "NewConstructionYN", "PoolPrivateYN", "FireplaceYN"]

for col in yn_cols:
    # Normalize: lowercase, strip spaces
    df[col] = df[col].astype(str).str.strip().str.lower()

    # Map cleanly
    df[col] = df[col].map({
        "yes": True, "y": True, "true": True, "1": True,
        "no": False, "n": False, "false": False, "0": False
    })

    # Fill any unmapped values (including NaN) as False
    df[col] = df[col].fillna(False).astype(bool)

In [18]:
df[yn_cols].dtypes

ViewYN               bool
NewConstructionYN    bool
PoolPrivateYN        bool
FireplaceYN          bool
dtype: object

In [23]:
import datetime
current_year = datetime.datetime.now().year

# Flag invalid or missing YearBuilt values
invalid_years = df[
    (df["YearBuilt"].isna()) | 
    (df["YearBuilt"] < 1800) | 
    (df["YearBuilt"] > current_year)
]

print(f"Invalid or missing YearBuilt values: {len(invalid_years)}")

# If you want to fix them by setting to NaN:
df.loc[(df["YearBuilt"] < 1800) | (df["YearBuilt"] > current_year), "YearBuilt"] = pd.NA
print(invalid_years)
df = df.drop(invalid_years.index)

Invalid or missing YearBuilt values: 1
                            MLSAreaMajor  Stories  ViewYN  NewConstructionYN  \
7575  SRCAR - Southwest Riverside County      1.0   False              False

       Levels  PoolPrivateYN BuyerOfficeAOR  GarageSpaces  LotSizeAcres  \
7575  Unknown          False  InlandValleys           2.0          0.25

      LotSizeSquareFeet  ...    PropertyType MlsStatus ParkingTotal  \
7575            10890.0  ...  CommercialSale    Closed          2.0

     PropertySubType  CountyOrParish BedroomsTotal StateOrProvince  \
7575        MixedUse       Riverside           3.0              CA

      PurchaseContractDate  ContractStatusChangeDate PostalCode
7575            2025-01-08                2025-02-28      92567

[1 rows x 37 columns]

In [24]:
invalid_years = df[
    (df["YearBuilt"].isna()) | 
    (df["YearBuilt"] < 1800) | 
    (df["YearBuilt"] > current_year)
]
print(f"Invalid or missing YearBuilt values: {len(invalid_years)}")

Invalid or missing YearBuilt values: 0

In [25]:
df["LotSizeAcres"].describe()

count     18701.000000
mean         43.649263
std        2734.104948
min           0.000000
25%           0.123000
50%           0.167400
75%           0.262300
max      287060.000000
Name: LotSizeAcres, dtype: float64

In [26]:
invalid_coords = df[(df["Latitude"].abs() > 90) | (df["Longitude"].abs() > 180)]
print(f"Invalid coordinate rows: {len(invalid_coords)}")

Invalid coordinate rows: 0

In [27]:
df[df["ClosePrice"] <= 0]

,MLSAreaMajor,Stories,ViewYN,NewConstructionYN,Levels,PoolPrivateYN,BuyerOfficeAOR,GarageSpaces,LotSizeAcres,LotSizeSquareFeet,...,PropertyType,MlsStatus,ParkingTotal,PropertySubType,CountyOrParish,BedroomsTotal,StateOrProvince,PurchaseContractDate,ContractStatusChangeDate,PostalCode
4567,VC32 - Oxnard - Port Hueneme Beaches,2.0,False,False,Two,False,VenturaCoastal,2.0,0.1004,4375.0,...,ResidentialLease,Closed,2.0,SingleFamilyResidence,Ventura,4.0,CA,2025-02-28,2025-02-28,93035
12350,VC33 - Oxnard - Southwest / Port Huenem,1.0,False,False,One,False,VenturaCoastal,0.0,0.1832,7979.0,...,ResidentialLease,Closed,0.0,Duplex,Ventura,1.0,CA,2025-02-28,2025-02-28,93033

In [28]:
df = df[df["ClosePrice"] > 0].reset_index(drop=True)

In [29]:
missing_yearbuilt = df["YearBuilt"].isna().sum()
print(f"Missing YearBuilt values: {missing_yearbuilt}")

Missing YearBuilt values: 0