In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/CRMLSSold202505_filled .csv')
df.head()

,BuyerAgentAOR,ListAgentAOR,Flooring,ViewYN,WaterfrontYN,BasementYN,PoolPrivateYN,OriginalListPrice,ListingKey,ListAgentEmail,...,MainLevelBedrooms,NewConstructionYN,GarageSpaces,HighSchoolDistrict,PostalCode,AssociationFee,LotSizeSquareFeet,MiddleOrJuniorSchoolDistrict,latfilled,lonfilled
0,PacificWest,PacificWest,NaN,NaN,NaN,NaN,NaN,NaN,551926853,joshuacho1004@gmail.com,...,NaN,NaN,NaN,NaN,90716,NaN,16897.0,NaN,False,False
1,HighDesert,HighDesert,Laminate,True,NaN,NaN,False,650000.0,542203048,JLangley@RigelCap.com,...,NaN,False,2.0,NaN,92301,NaN,213915.0,NaN,False,False
2,HighDesert,HighDesert,NaN,True,NaN,NaN,NaN,25003.0,520854275,meiwangrealestate@yahoo.com,...,NaN,False,NaN,NaN,92301,NaN,100188.0,NaN,False,False
3,OrangeCounty,OrangeCounty,NaN,True,NaN,NaN,False,6000.0,520747217,chriszoch@ochomes.org,...,2.0,False,2.0,Capistrano Unified,92629,NaN,3870.0,NaN,False,False
4,NorthSanLuisObispo,NorthSanLuisObispo,NaN,True,NaN,NaN,NaN,675000.0,502744209,kylerhamann@gmail.com,...,NaN,False,NaN,NaN,93451,0.0,6969600.0,NaN,False,False

In [9]:
cols_to_keep = [
    "MLSAreaMajor",
    "Stories",
    "ViewYN",
    "NewConstructionYN",
    "Levels",
    "PoolPrivateYN",
    "BuyerOfficeAOR",
    "GarageSpaces",
    "LotSizeAcres",
    "LotSizeSquareFeet",
    "LotSizeArea",
    "BuyerOfficeName",
    "BuyerAgentFirstName",
    "BuyerAgentMlsId",
    "StreetNumberNumeric",
    "UnparsedAddress",
    "City",
    "YearBuilt",
    "FireplaceYN",
    "BuyerAgentLastName",
    "LivingArea",
    "Latitude",
    "Longitude",
    "BuyerAgentAOR",
    "BathroomsTotalInteger",
    "ClosePrice",
    "CloseDate",
    "PropertyType",
    "MlsStatus",
    "ParkingTotal",
    "PropertySubType",
    "CountyOrParish",
    "BedroomsTotal",
    "StateOrProvince",
    "PurchaseContractDate",
    "ContractStatusChangeDate",
    "PostalCode"
]

df = df[cols_to_keep]
df.head()

,MLSAreaMajor,Stories,ViewYN,NewConstructionYN,Levels,PoolPrivateYN,BuyerOfficeAOR,GarageSpaces,LotSizeAcres,LotSizeSquareFeet,...,PropertyType,MlsStatus,ParkingTotal,PropertySubType,CountyOrParish,BedroomsTotal,StateOrProvince,PurchaseContractDate,ContractStatusChangeDate,PostalCode
0,54 - Hawaiian Gardens,NaN,NaN,NaN,NaN,NaN,PacificWest,NaN,0.3879,16897.0,...,CommercialLease,Closed,NaN,Office,Los Angeles,NaN,CA,2025-05-26,2025-05-27,90716
1,ADL - Adelanto,NaN,True,False,NaN,False,HighDesert,2.0,4.9100,213915.0,...,Residential,Closed,2.0,ManufacturedOnLand,San Bernardino,3.0,CA,2024-09-17,2025-05-08,92301
2,NaN,NaN,True,False,NaN,NaN,HighDesert,NaN,2.3000,100188.0,...,Land,Closed,NaN,NaN,San Bernardino,NaN,CA,2025-04-23,2025-05-02,92301
3,MB - Monarch Beach,1.0,True,False,One,False,OrangeCounty,2.0,0.0888,3870.0,...,ResidentialLease,Closed,2.0,SingleFamilyResidence,Orange,2.0,CA,2025-05-09,2025-05-11,92629
4,SMIG - San Miguel,NaN,True,False,NaN,NaN,NorthSanLuisObispo,NaN,160.0000,6969600.0,...,Land,Closed,NaN,NaN,Monterey,NaN,CA,2025-03-30,2025-05-14,93451

In [11]:
df.isna().sum().sort_values(ascending=False)

Stories                     4130
GarageSpaces                3004
NewConstructionYN           2797
Levels                      2754
MLSAreaMajor                2620
PoolPrivateYN               2489
ViewYN                      2304
FireplaceYN                 1956
LotSizeAcres                1895
LotSizeSquareFeet           1848
LotSizeArea                 1838
PropertySubType             1736
LivingArea                  1622
BedroomsTotal               1515
BathroomsTotalInteger       1052
YearBuilt                   1018
ParkingTotal                 704
BuyerOfficeAOR               678
PurchaseContractDate         416
BuyerOfficeName              212
BuyerAgentMlsId               86
BuyerAgentFirstName           76
StreetNumberNumeric           50
UnparsedAddress               29
City                          12
BuyerAgentAOR                 12
BuyerAgentLastName             8
PostalCode                     3
Longitude                      2
Latitude                       2
ClosePrice                     1
CloseDate                      0
PropertyType                   0
MlsStatus                      0
CountyOrParish                 0
StateOrProvince                0
ContractStatusChangeDate       0
dtype: int64

In [12]:
# Numeric columns with missing values
numeric_cols = [
    "Stories", "GarageSpaces", "LotSizeAcres", "LotSizeSquareFeet",
    "LotSizeArea", "LivingArea", "BedroomsTotal", "BathroomsTotalInteger",
    "YearBuilt", "StreetNumberNumeric", "Latitude", "Longitude", "ParkingTotal"
]

for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

In [13]:
bool_cols = ["NewConstructionYN", "PoolPrivateYN", "ViewYN", "FireplaceYN"]

for col in bool_cols:
    df[col] = df[col].fillna("No")

In [14]:

categorical_cols = [
    "MLSAreaMajor", "Levels", "BuyerOfficeAOR", "BuyerOfficeName",
    "BuyerAgentFirstName", "BuyerAgentMlsId", "UnparsedAddress", "City",
    "BuyerAgentLastName", "BuyerAgentAOR", "PropertySubType",
    "CountyOrParish", "StateOrProvince", "PostalCode"
]

for col in categorical_cols:
    df[col] = df[col].fillna("Unknown")

In [15]:
df.isna().sum().sort_values(ascending=False).head(10)

PurchaseContractDate    416
ClosePrice                1
ViewYN                    0
Stories                   0
MLSAreaMajor              0
Levels                    0
NewConstructionYN         0
PoolPrivateYN             0
BuyerOfficeAOR            0
LotSizeSquareFeet         0
dtype: int64

In [16]:
date_cols = ["PurchaseContractDate", "ContractStatusChangeDate", "CloseDate"]

for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")

In [17]:
yn_cols = ["NewConstructionYN", "PoolPrivateYN", "ViewYN", "FireplaceYN"]

for col in yn_cols:
    df[col] = df[col].map({"Yes": True, "No": False})

In [18]:
for col in numeric_cols:  # reuse numeric_cols list from earlier
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [19]:
for col in categorical_cols:  # reuse categorical_cols list
    df[col] = df[col].astype("category")

In [20]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23154 entries, 0 to 23153
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MLSAreaMajor              23154 non-null  category
 1   Stories                   23154 non-null  float64
 2   ViewYN                    2304 non-null   object
 3   NewConstructionYN         2797 non-null   object
 4   Levels                    23154 non-null  category
 5   PoolPrivateYN             2489 non-null   object
 6   BuyerOfficeAOR            23154 non-null  category
 7   GarageSpaces              23154 non-null  float64
 8   LotSizeAcres              23154 non-null  float64
 9   LotSizeSquareFeet         23154 non-null  float64
 10  LotSizeArea               23154 non-null  float64
 11  BuyerOfficeName           23154 non-null  category
 12  BuyerAgentFirstName       23154 non-null  category
 13  BuyerAgentMlsId           23154 non-null  category
 14  StreetNumberNumeric       23154 non-null  float64
 15  UnparsedAddress           23154 non-null  category
 16  City                      23154 non-null  category
 17  YearBuilt                 23154 non-null  float64
 18  FireplaceYN               1956 non-null   object
 19  BuyerAgentLastName        23154 non-null  category
 20  LivingArea                23154 non-null  float64
 21  Latitude                  23154 non-null  float64
 22  Longitude                 23154 non-null  float64
 23  BuyerAgentAOR             23154 non-null  category
 24  BathroomsTotalInteger     23154 non-null  float64
 25  ClosePrice                23153 non-null  float64
 26  CloseDate                 23154 non-null  datetime64[ns]
 27  PropertyType              23154 non-null  object
 28  MlsStatus                 23154 non-null  object
 29  ParkingTotal              23154 non-null  float64
 30  PropertySubType           23154 non-null  category
 31  CountyOrParish            23154 non-null  category
 32  BedroomsTotal             23154 non-null  float64
 33  StateOrProvince           23154 non-null  category
 34  PurchaseContractDate      22738 non-null  datetime64[ns]
 35  ContractStatusChangeDate  23154 non-null  datetime64[ns]
 36  PostalCode                23154 non-null  category
dtypes: category(14), datetime64[ns](3), float64(14), object(6)
memory usage: 6.6+ MB

In [21]:
yn_cols = ["ViewYN", "NewConstructionYN", "PoolPrivateYN", "FireplaceYN"]

for col in yn_cols:
    df[col] = df[col].fillna("No").map({"Yes": True, "No": False})

In [22]:
df["PropertyType"] = df["PropertyType"].astype("category")
df["MlsStatus"] = df["MlsStatus"].astype("category")

In [23]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23154 entries, 0 to 23153
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MLSAreaMajor              23154 non-null  category
 1   Stories                   23154 non-null  float64
 2   ViewYN                    20850 non-null  object
 3   NewConstructionYN         20357 non-null  object
 4   Levels                    23154 non-null  category
 5   PoolPrivateYN             20665 non-null  object
 6   BuyerOfficeAOR            23154 non-null  category
 7   GarageSpaces              23154 non-null  float64
 8   LotSizeAcres              23154 non-null  float64
 9   LotSizeSquareFeet         23154 non-null  float64
 10  LotSizeArea               23154 non-null  float64
 11  BuyerOfficeName           23154 non-null  category
 12  BuyerAgentFirstName       23154 non-null  category
 13  BuyerAgentMlsId           23154 non-null  category
 14  StreetNumberNumeric       23154 non-null  float64
 15  UnparsedAddress           23154 non-null  category
 16  City                      23154 non-null  category
 17  YearBuilt                 23154 non-null  float64
 18  FireplaceYN               21198 non-null  object
 19  BuyerAgentLastName        23154 non-null  category
 20  LivingArea                23154 non-null  float64
 21  Latitude                  23154 non-null  float64
 22  Longitude                 23154 non-null  float64
 23  BuyerAgentAOR             23154 non-null  category
 24  BathroomsTotalInteger     23154 non-null  float64
 25  ClosePrice                23153 non-null  float64
 26  CloseDate                 23154 non-null  datetime64[ns]
 27  PropertyType              23154 non-null  category
 28  MlsStatus                 23154 non-null  category
 29  ParkingTotal              23154 non-null  float64
 30  PropertySubType           23154 non-null  category
 31  CountyOrParish            23154 non-null  category
 32  BedroomsTotal             23154 non-null  float64
 33  StateOrProvince           23154 non-null  category
 34  PurchaseContractDate      22738 non-null  datetime64[ns]
 35  ContractStatusChangeDate  23154 non-null  datetime64[ns]
 36  PostalCode                23154 non-null  category
dtypes: category(16), datetime64[ns](3), float64(14), object(4)
memory usage: 6.3+ MB

In [24]:

yn_cols = ["ViewYN", "NewConstructionYN", "PoolPrivateYN", "FireplaceYN"]

for col in yn_cols:
    # Normalize: lowercase, strip spaces
    df[col] = df[col].astype(str).str.strip().str.lower()

    # Map cleanly
    df[col] = df[col].map({
        "yes": True, "y": True, "true": True, "1": True,
        "no": False, "n": False, "false": False, "0": False
    })

    # Fill any unmapped values (including NaN) as False
    df[col] = df[col].fillna(False).astype(bool)

/tmp/ipython-input-2470099212.py:14: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(False).astype(bool)
/tmp/ipython-input-2470099212.py:14: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(False).astype(bool)
/tmp/ipython-input-2470099212.py:14: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(False).astype(bool)
/tmp/ipython-input-2470099212.py:14: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(False).astype(bool)

In [25]:

df[yn_cols].dtypes

ViewYN               bool
NewConstructionYN    bool
PoolPrivateYN        bool
FireplaceYN          bool
dtype: object

In [26]:
import datetime
current_year = datetime.datetime.now().year

invalid_years = df[(df["YearBuilt"] < 1800) | (df["YearBuilt"] > current_year)]
print(f"Invalid YearBuilt values: {len(invalid_years)}")

Invalid YearBuilt values: 1

In [27]:
df["LotSizeAcres"].describe()

count    2.315400e+04
mean     1.906954e+02
std      2.752224e+04
min      0.000000e+00
25%      1.263000e-01
50%      1.700000e-01
75%      2.814750e-01
max      4.187292e+06
Name: LotSizeAcres, dtype: float64

In [28]:
invalid_coords = df[(df["Latitude"].abs() > 90) | (df["Longitude"].abs() > 180)]
print(f"Invalid coordinate rows: {len(invalid_coords)}")

Invalid coordinate rows: 0

In [29]:
df[df["ClosePrice"] <= 0]

,MLSAreaMajor,Stories,ViewYN,NewConstructionYN,Levels,PoolPrivateYN,BuyerOfficeAOR,GarageSpaces,LotSizeAcres,LotSizeSquareFeet,...,PropertyType,MlsStatus,ParkingTotal,PropertySubType,CountyOrParish,BedroomsTotal,StateOrProvince,PurchaseContractDate,ContractStatusChangeDate,PostalCode
5822,648 - Pasadena (SE),1.0,False,False,One,False,Southland,2.0,0.6075,26464.0,...,ResidentialLease,Closed,2.0,Condominium,Los Angeles,2.0,CA,2025-05-09,2025-05-16,91101

In [30]:
df = df[df["ClosePrice"] > 0].reset_index(drop=True)

In [31]:
missing_yearbuilt = df["YearBuilt"].isna().sum()
print(f"Missing YearBuilt values: {missing_yearbuilt}")

Missing YearBuilt values: 0

In [32]:
# Save to your Google Drive
df.to_csv('/content/drive/MyDrive/Colab Notebooks/CRMLSSold202505_cleaned.csv', index=False)